*.swp
*.pyc
**/.env/
**/venv/
**/.rasa/
**/.idea/
**/tmp/
**/__pycache__/
**/cache-directory/
.ipynb_checkpoints
.sass-cache
large-file/*
model
models
data
.project
Gemfile.lock
_site
**/output/
**/*.bin
_notes/05-ai/55-pytorch/detectron2/notebooks/detectron2/
.env
